*{

    background-color: rgb(176, 176, 176);
}

.anakutu{
    display: flex;
    gap: 20px;
    align-items: flex-start;}

    body{
    padding-left: 6%;
    padding-right: 6%;
}

.menü  li{
    display:block;
   height: min-height;
    padding: 25px;
    background-color: #474545;
    text-align: center;
    border: 7px double;
    border-color: #373636;

}
.menü{
    list-style-type: none;
    margin: 0;        
    padding: 0;      
    display: flex; 
}

.menü li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #474545;
    text-align: left;
}
 .birhatphoto{
    height: 270px;
    width: 195px;
    border: 15px solid;
    border-color: rgb(26, 44, 79);
background-color: rgb(26, 44, 79);
font-size: 9px;
border-radius: 15px;
}
.birhatphoto img{
     height: 250px;
    width: 195px;
    border-radius: 15px;
}
.birhatphoto p{
    padding-top: 1px;
   background-color: rgb(26, 44, 79);
    font-style: italic;
    text-align: center;
    color: white;

}


.hakkında {
    background-color: transparent;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.menuhakkında {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}

 p{
    font-weight: 700;
    font-size: larger;
    text-indent: 55px;
    word-spacing: 5px;
    line-height: 1.6;

 }

.vanspor img{
    height: 500px;
    width: 1350px;
max-width: 100%;
height: auto;
}

.slider {
  width: 100%;
  max-width: 1350px;
  height: 500px;
  overflow: hidden; /* Yan yana duran diğer 4 resmi gizler, sadece birini gösterir */
  position: relative;
  margin: auto;
}

/*radyo buton yuvarlaklarını gizleme */
input[type="radio"] { display: none; }

.resim-seridi {
  display: flex; /* Resimleri yan yana dizer */
  width: 500%;   /* 5 resim olduğu için genişliği 5 katına çıkarır */
  height: 100%;
  transition: 0.5s; /* Kayma işlemini yumuşak yapar */
}

.tek-resim {
  width: 20%; /* Her resim toplam genişliğin tam 5te 1ini kaplar */
  position: relative;
}

.tek-resim img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Resim tamamen sığması için */
}

/* Ok Butonlarının Tasarımı */
.sol, .sag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  background: rgba(0,0,0,0.4); /* Yarı şeffaf siyah arka plan */
  color: white;
  cursor: pointer;
  font-size: 25px;
  z-index: 5;
}

.sol { left: 10px; }
.sag { right: 10px; }

/*
   Eğer X numaralı radyo buton seçiliyse, şeridi X kadar sola kaydır. */
#resim1:checked ~ .resim-seridi { transform: translateX(0); }
#resim2:checked ~ .resim-seridi { transform: translateX(-20%); }
#resim3:checked ~ .resim-seridi { transform: translateX(-40%); }
#resim4:checked ~ .resim-seridi { transform: translateX(-60%); }
#resim5:checked ~ .resim-seridi { transform: translateX(-80%); }